body{
    margin-top: 200px;
     background-color: aqua;
}
#span1{
    color: red;
}
#output{
    width: 60%;
    border-top: 10px crimson ridge;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
#d100{
    margin-top: -200px;
}